
<suite name="Suite" parallel="none">
	<test name="TestChrome">
		<parameter name="browser" value="chrome"></parameter>
		<parameter name="grid" value="yes"></parameter>
		<parameter name="gridURL" value="http://192.168.1.102:4444"></parameter>
		<parameter name="env" value="qa_env.properties"></parameter>

		<packages>
			<package name="script"></package>
		</packages>

	<!-- </test> 
	<test name="TestFirefox">
		<parameter name="browser" value="firefox"></parameter>
		<parameter name="grid" value="yes"></parameter>
		<parameter name="gridURL" value="http://192.168.1.102:4444"></parameter>

		<packages>
			<package name="script"></package>
		</packages>

	</test> 

	<test name="TestSafari">
		<parameter name="browser" value="safari"></parameter>
		<parameter name="grid" value="yes"></parameter>
		<parameter name="gridURL" value="http://192.168.1.102:4444"></parameter>

		<packages>
			<package name="script"></package>
		</packages> -->

	</test> 
</suite>
